{% extends 'flatpages/default.html' %}



{% block content %}
   <h1>Все новости</h1>

    <h3>{{ time_now|date:'M d Y' }}</h3>

   <hr>

   {% if user.is_authenticated %}
<p><a href="{% url 'post_create' %}"><h4>Добавить статю</h4></a></p>
    {% endif %}

           {% for posts in post %}
  <div class="post-block">
    <a href="{% url 'post_detail' posts.id %}"> {{ posts.tittle|safe }}</a>
    <p>{{ posts.text|safe }}</p>

    <h5>Отклики:</h5>
<ul>
  {% for response in responses %}
    <li>{{ response.author.username }}: {{ response.text }}</li>


    {% empty %}
      <p>Нет откликов</p>
  </div>
</ul>
{% endfor %}



                    {% if posts.author == request.user.author %}
                    <a href="{% url 'post_update' pk=posts.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.new.delete_post %}
                    <a href="{% url 'post_delete' posts.id %}">Удалить</a>
                    {% endif %}

           {% endfor %}

     {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
    {% if not is_author %}

    {% endif %}
{% endblock content %}